
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

section.container {
    display: flex;
    max-width: 70%;
}


.shrinked {
    width: 15%
}

img {
    margin:15px;
    border-radius: 10px;
}