@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;700&display=swap");
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

:root {
  --color-light-gray: #efefef;
  --color-dark-gray: #4e4e4e;
  --color-dark: #222222;
  --color-nav-gray: #909090;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex: space-between;
  align-items: center;
  font-family: Raleway;
  color: var(--color-dark);
}

section.container {
  background-color: var(--color-light-gray);
  padding: 6rem;
  margin-bottom: 2rem;
  height: 90vh;
  width: 95vw;
}

/* SECTION 1 */
.cont-1 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

/* Navbar  */
.cont-1 .navbar {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.cont-1 .navbar .nav-menu {
  list-style-type: none;
}

.cont-1 .navbar .nav-menu a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

.cont-1 .navbar .nav-menu i {
  margin-left: 15px;
  font-size: 22px;
}
/* Main Section */
.cont-1 .info {
  display: flex;
  flex-direction: column;
  width: 36%;
}
.cont-1 .info__title {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.cont-1 .info__title b {
  font-weight: 700;
}

.cont-1 .info__desc {
  font-family: "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.cont-1 .vertical_line {
  padding: 2rem 1rem;
  border-left: 0.1rem solid var(--color-dark);
}
/* Image */

.cont-1 .img {
  display: flex;
  float: right;
  max-width: 55%;
}

.cont-1 .img-hero {
  position: relative;
  top: 1.9rem;
}

/* SECTION 2 */
.cont-2 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.cont-2 .horizontal-line {
  padding: 1rem 2.5rem;
  float: left;
  margin-right: 1.5rem;
  border-bottom: 0.1rem solid var(--color-dark);
}

.cont-2 .info {
  flex-direction: column;
  width: 50%;
}
.cont-2 .info__title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.cont-2 .info__title b {
  font-weight: 700;
}

.cont-2 .info__desc {
  font-family: "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.cont-2 .social {
  float: left;
}

.cont-2 .social ul {
  list-style-type: none;
  padding-left: 0;
}

.cont-2 .social ul li {
  display: inline;
}

.cont-2 .social a {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.1rem;
  margin-right: 1rem;
  background-color: var(--color-nav-gray);
  color: #fff;
}

.cont-2 .img {
  width: 35%;
  margin-bottom: 3rem;
}

/* Image section 3*/

.cont-3 {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.cont-3 .img {
  display: flex;
  min-width: 118%;
}

/* SECTION 4*/
.cont-4 {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
/* main */

.cont-4 .info {
  flex-direction: column;
  width: 35%;
}
.cont-4 .info__title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.cont-4 .info__title b {
  font-weight: 700;
}

.cont-4 .info__desc {
  font-family: "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 1.5rem;
}
/* img */
.cont-4 .img {
  width: 55%;
}

.cont-4 .vertical_line {
  padding: 2.2rem 1rem;
  border-left: 0.1rem solid var(--color-dark);
}

/* CONT 5 */
.cont-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-5 .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-5 .img-city {
  width: 30vw;
  position: relative;
  right: -25rem;
}

.cont-5 .img-road {
  width: 30vw;
  position: relative;
  left: 10rem;
}

.cont-5 .img-balloon {
  width: 40vw;
  position: relative;
  right: 25rem;
}

/* CONT 6 */
.cont-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cont-6 .info {
  flex-direction: column;
  width: 70%;
}
.cont-6 .info__title {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 100;
  margin: 1.5rem;
}

.cont-6 .info__title b {
  font-weight: 700;
}

.cont-6 .info__desc {
  font-family: "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 2rem;
}

.cont-6 .contact-us {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.cont-6 .contact-us * {
    border: 0.1rem solid var(--color-dark);
    padding: 0.5rem;
    background-color: transparent;
}

.cont-6 .contact-us .email {
  width: 42%;
  margin-right: 1.8rem;
}

.cont-6 .contact-us .subject {
  width: 42%;
}

.cont-6 .contact-us .message {
  width: 100%;
  margin: 2rem;
  resize: none;
}

.cont-6 .send-message-btn {
  width: 100%;
  background-color: var(--color-dark);
  color: #fff;
  margin: 0rem 2rem;
}

.cont-6 .footer {
    font-size: 0.7rem;
    margin-top: 4rem;
}
