html {
    font-family: Helvetica, sans-serif;
    padding: 40px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: limegreen
}

header h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

header {
    border-bottom: 3px solid black;
}

main {
    font-family: 'Times New Roman', serif;
}

main h1 {
    font-weight: 500;
}